---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart Bento service
  ansible.builtin.systemd:
    name: "bento"
    state: restarted
    enabled: "{{ bento_service_enabled | bool }}"
  failed_when: false

- name: Start Bento service
  ansible.builtin.systemd:
    name: "bento"
    state: started
    enabled: "{{ bento_service_enabled | bool }}"
  failed_when: false

- name: Stop Bento service
  ansible.builtin.systemd:
    name: "bento"
    state: stopped
  failed_when: false
