---
# PostgreSQL Configuration
postgresql_install: true
postgresql_service_enabled: true
postgresql_service_state: started
postgresql_user: "bento"
postgresql_password: "CHANGE_ME"
postgresql_host: "localhost"
postgresql_port: 5432
postgresql_database: "bento"
postgresql_create_db: true
postgresql_create_user: true
postgresql_listen_addresses: "localhost"
postgresql_hba_entries: >-
  {{
    lookup('env', 'POSTGRESQL_HBA_ENTRIES') |
    default([
      {'type': 'host', 'database': 'all', 'user': 'all', 'address': '127.0.0.1/32', 'method': 'md5'},
      {'type': 'host', 'database': 'all', 'user': 'all', 'address': '::1/128', 'method': 'md5'},
      {'type': 'host', 'database': 'all', 'user': 'all', 'address': '10.0.0.0/8', 'method': 'md5'},
      {'type': 'host', 'database': 'all', 'user': 'all', 'address': '172.16.0.0/12', 'method': 'md5'},
      {'type': 'host', 'database': 'all', 'user': 'all', 'address': '192.168.0.0/16', 'method': 'md5'}
    ], true)
  }}
