target
**/target/
.git
.gitignore
.gitmodules
compose.yml
.env
contracts/out
out
out-shanghai
contracts/out-shanghai
broadcast
cache
.github
scripts
!scripts/localnet-*.sh
examples
crates/**/target
crates/**/cache_market_x2
examples/**/target
infra
docs
logs
licenses
