apiVersion: 1

datasources:
  - name: broker-sqlite-datasource
    type: frser-sqlite-datasource
    access: proxy
    isDefault: false
    editable: true
    jsonData:
      path: {{ grafana_broker_db_path }}
