apiVersion: 1

contactPoints:
  - orgId: 1
    name: pagerduty
    receivers:
      - uid: pagerduty-receiver
        type: pagerduty
        settings:
          integrationKey: $PAGERDUTY_INTEGRATION_KEY
          severity: warning
          class: broker
          component: boundless
        disableResolveMessage: false
  - orgId: 1
    name: slack
    receivers:
      - uid: slack-receiver
        type: slack
        settings:
          url: $SLACK_WEBHOOK_URL
          title: |
            {{ `{{ .CommonLabels.alertname }}` }}
          text: |
            {{ `{{ range .Alerts }}` }}
            *{{ `{{ .Labels.alertname }}` }}* - {{ `{{ .Labels.severity }}` }}
            {{ `{{ .Annotations.summary }}` }}
            {{ `{{ .Annotations.description }}` }}
            {{ `{{ end }}` }}
        disableResolveMessage: false
