SEGMENT_PO2={{ bento_segment_po2 }}
KECCAK_PO2={{ bento_keccak_po2 }}
{% if bento_rewards_address | default('') != '' %}
REWARDS_ADDRESS={{ bento_rewards_address }}
{% endif %}
DATABASE_URL=postgresql://{{ bento_postgresql_user }}:{{ bento_postgresql_password }}@{{ bento_postgresql_host }}:{{ bento_postgresql_port }}/{{ bento_postgresql_database }}
REDIS_URL=redis://{{ bento_valkey_host }}:{{ bento_valkey_port }}
{% if bento_s3_bucket | default('') != '' %}
S3_BUCKET={{ bento_s3_bucket }}
S3_ACCESS_KEY={{ bento_s3_access_key }}
S3_SECRET_KEY={{ bento_s3_secret_key }}
{% if bento_s3_url | default('') != '' %}
S3_URL={{ bento_s3_url }}
{% endif %}
{% endif %}
{% if bento_povw_log_id | default('') != '' %}
POVW_LOG_ID={{ bento_povw_log_id }}
{% endif %}
RUST_LOG={{ bento_rust_log }}

