---
# Main tasks for bento role
- name: Clone the Bento repository
  ansible.builtin.git:
    repo: https://github.com/boundless-xyz/boundless.git
    dest: "{{ bento_dir }}"
    version: "{{ bento_version }}"
    recursive: true
    force: true

- name: Generate Docker Compose environment file
  ansible.builtin.template:
    src: docker-compose.env.j2
    dest: "{{ bento_env_file }}"
    owner: "{{ bento_user }}"
    group: "{{ bento_user }}"
    mode: '0600'
  notify: Restart Bento

- name: Download broker configuration file
  ansible.builtin.get_url:
    url: '{{ bento_broker_toml_url }}'
    dest: "{{ bento_dir }}/broker.toml"
    owner: root
    group: root
    mode: '0644'
  notify: Restart Bento

- name: Write the system service file
  ansible.builtin.template:
    src: bento.service.j2
    dest: /etc/systemd/system/bento.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart Bento
