[Unit]
Description=Boundless Broker Service
After=network.target

[Service]
Type=simple
User={{ broker_user }}
Group={{ broker_group }}
WorkingDirectory={{ broker_work_dir }}
Environment=RUST_LOG={{ broker_rust_log }}
Environment=NO_COLOR=1
Environment=RPC_URL={{ broker_rpc_url }}
Environment=PRIVATE_KEY={{ broker_private_key }}
Environment=PROMETHEUS_METRICS_ADDR={{ broker_prometheus_metrics_addr }}

ExecStart={{ broker_install_dir }}/broker --config-file {{ broker_config_file }} --bento-api-url {{ broker_bento_api_url }} --db-url '{{ broker_db_url }}'
Restart=always
RestartSec=10
TimeoutStartSec={{ broker_timeout_start_sec }}
TimeoutStopSec={{ broker_timeout_stop_sec }}
SyslogIdentifier=broker

[Install]
WantedBy=multi-user.target

