---
- name: Install Kailua binary from release (source)
  block:
    - name: Download Kailua binary
      ansible.builtin.get_url:
        url: "{{ kailua_download_url }}"
        dest: "/tmp/{{ kailua_archive }}"
        mode: "0644"

    - name: Extract Kailua binary
      ansible.builtin.unarchive:
        src: "/tmp/{{ kailua_archive }}"
        dest: "{{ kailua_install_dir }}"
        mode: "0755"

    - name: Remove Kailua archive
      ansible.builtin.file:
        path: "/tmp/{{ kailua_archive }}"
        state: absent
  when: kailua_install_method == "source"

- name: Write Kailua launcher script
  ansible.builtin.template:
    src: kailua_launcher.sh.j2
    dest: "{{ kailua_launcher_path }}"
    owner: root
    group: root
    mode: "0755"
  when: kailua_install_service | bool and kailua_install_method == "source"
  notify:
    - Restart Kailua

- name: Write Kailua service file
  ansible.builtin.template:
    src: kailua.service.j2
    dest: /etc/systemd/system/kailua.service
    owner: root
    group: root
    mode: "0644"
  when: kailua_install_service | bool
  notify:
    - Reload systemd
    - Restart Kailua
