[Unit]
Description=Bento Docker Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory={{ prover_dir }}
EnvironmentFile={{ prover_env_file }}
ExecStart=/usr/bin/docker compose --env-file {{ prover_env_file }} {{ prover_docker_compose_profile }}{% if prover_enable_input_ttl | default(false) | bool %} --profile input-ttl{% endif %} up{% if prover_boundless_build | default('') | string | length > 0 %} --build{% endif %} {{ prover_docker_compose_invoke }}
ExecStop=/usr/bin/docker compose --env-file {{ prover_env_file }} {{ prover_docker_compose_profile }}{% if prover_enable_input_ttl | default(false) | bool %} --profile input-ttl{% endif %} down
Restart=always
RestartSec=10
TimeoutStartSec=1800
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
