[package]
name = "blake3_groth16"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
default = []
prove = [
    "risc0-zkvm/prove",
    "dep:circom-witnesscalc",
    "dep:num-bigint",
    "dep:num-traits",
    "dep:tempfile",
    "dep:wtns-file",
]
cuda = ["prove", "risc0-zkvm/cuda", "risc0-groth16/cuda", "dep:risc0-groth16-sys"]

[dependencies]
anyhow = { workspace = true }
ark-bn254 = { version = "0.5.0", default-features = false }
ark-ff = { version = "0.5.0", default-features = false }
ark-groth16 = { version = "0.5.0", default-features = false }
ark-serialize = { version = "0.5.0", default-features = false }
borsh = { workspace = true, features = ["derive"] }
boundless-market = { workspace = true }
<<<<<<< HEAD
bytemuck = { workspace = true }
circom-witnesscalc = { version = "0.2.1", optional = true }
crypto-bigint = { git = "https://github.com/risc0/RustCrypto-crypto-bigint", tag = "v0.5.2-risczero.0", default-features = false }
<<<<<<< HEAD
derive_more.workspace = true
hex.workspace = true
num-bigint = { version = "0.4.5", features = ["std"] }
=======
derive_more = { workspace = true }
hex = { workspace = true }
num-bigint = { version = "0.4", features = ["std"] }
>>>>>>> 46bc63d4 (fix workspace in cargo)
num-traits = "0.2.19"
risc0-binfmt = { workspace = true, default-features = false }
risc0-circuit-recursion = { workspace = true }
risc0-core = { workspace = true }
=======
>>>>>>> 900f2741 (Attempt to minimize lock file changes by target gating proving  to not zkvm)
risc0-groth16 = { workspace = true }
risc0-zkvm = { workspace = true, default-features = false }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }

# Host dependencies
[target.'cfg(not(target_os = "zkvm"))'.dependencies]
bonsai-sdk = { workspace = true, features = ["non_blocking", "shrink_bitvm2"] }
bincode = { workspace = true }
circom-witnesscalc = { version = "0.2.1", optional = true }
hex = { workspace = true }
num-bigint = { version = "0.4", features = ["std"], optional = true }
num-traits = { version = "0.2.19", optional = true }
risc0-groth16-sys = { workspace = true, optional = true }
risc0-zkvm = { workspace = true, default-features = false, features = ["bonsai"] }
tempfile = { workspace = true, optional = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
wtns-file = { version = "0.1.5", optional = true }

[target.'cfg(not(target_os = "zkvm"))'.dev-dependencies]
guest-util = { workspace = true }
test-log = { workspace = true }
