@import "@risc0/ui/styles/globals.css";

:root {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --removed-body-scroll-bar-size: 0px;

  /* tailwind/shadcn overrides */
  --radius: 0.5rem;
  /*--background: 51.43, 100%, 97.25%;*/
  /*--foreground: 0, 1.43%, 27.45%;*/
}

.dark {
  /*--background: 20 14.3% 4.1%;*/
  /*--foreground: 60 9.1% 97.8%;*/
}

html {
  @apply scroll-smooth;
}
