[Unit]
Description=MinIO S3-Compatible Object Storage Server
After=network.target

[Service]
Type=simple
User={{ minio_user }}
Group={{ minio_group }}
EnvironmentFile={{ minio_config_dir }}/minio.env
ExecStart={{ minio_install_dir }}/{{ minio_binary_name }} server {{ minio_data_dir }} --address {{ minio_bind }}:{{ minio_port }} --console-address {{ minio_bind }}:{{ minio_console_port }}
Restart=always
RestartSec=10
SyslogIdentifier=minio

[Install]
WantedBy=multi-user.target

