---
- name: Deploy Bento Standalone with Docker Compose
  hosts: all
  become: true
  gather_facts: true
  serial: 1
  tasks:
    - name: Install Nvidia drivers
      ansible.builtin.include_role:
        name: nvidia
      tags:
        - nvidia
        - nvidia-install
    - name: Install Docker
      ansible.builtin.include_role:
        name: docker
      tags:
        - docker
        - docker-install
    # Deploy Bento with Docker Compose
    - name: Deploy Bento Docker Compose Stack
      ansible.builtin.include_role:
        name: bento
      tags:
        - bento
        - docker
