- name: Boundless System Setup
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Deploy Bento
      ansible.builtin.include_role:
        name: bento
      vars:
        bento_version: "{{ bento_version }}"
        bento_task: "prove"

    - name: Deploy Bento API
      ansible.builtin.include_role:
        name: bento
      vars:
        bento_version: "{{ bento_version }}"
        bento_task: "api"

    - name: Deploy Bento Execute
      ansible.builtin.include_role:
        name: bento
      vars:
        bento_version: "{{ bento_version }}"
        bento_task: "execute"

    - name: Deploy Bento Aux
      ansible.builtin.include_role:
        name: bento
      vars:
        bento_version: "{{ bento_version }}"
        bento_task: "aux"

    - name: Deploy Bento CLI
      ansible.builtin.include_role:
        name: bento
      vars:
        bento_version: "{{ bento_version }}"
        bento_task: "cli"
