---
- name: Install PostgreSQL
  when: postgresql_install | bool
  block:
    - name: Install PostgreSQL
      ansible.builtin.apt:
        name:
          - acl
          - postgresql
          - postgresql-client
          - python3-psycopg2
        state: present

    - name: Ensure PostgreSQL service is enabled and started
      ansible.builtin.systemd:
        name: postgresql
        enabled: "{{ postgresql_service_enabled }}"
        state: "{{ postgresql_service_state }}"

    - name: Find PostgreSQL version directory
      ansible.builtin.find:
        paths: /etc/postgresql
        patterns: "[0-9]*"
        file_type: directory
      register: postgresql_version_dirs
      changed_when: false

    - name: Fail if no PostgreSQL version found
      ansible.builtin.fail:
        msg: "No PostgreSQL version directories found in /etc/postgresql. PostgreSQL may not be installed correctly."
      when: postgresql_version_dirs.files | length == 0

    - name: Fail if multiple PostgreSQL versions found
      ansible.builtin.fail:
        msg: "Multiple PostgreSQL versions found ({{ postgresql_version_dirs.files | map(attribute='path') | list | join(', ') }}). This is not supported."
      when: postgresql_version_dirs.files | length > 1

    - name: Get PostgreSQL configuration file paths
      ansible.builtin.set_fact:
        postgresql_conf_path: "{{ postgresql_version_dirs.files[0].path }}/main/postgresql.conf"
        postgresql_hba_path: "{{ postgresql_version_dirs.files[0].path }}/main/pg_hba.conf"
      when: postgresql_version_dirs.files | length == 1

    - name: Wait for PostgreSQL configuration files to exist
      ansible.builtin.wait_for:
        path: "{{ item }}"
        state: present
        timeout: 30
      loop:
        - "{{ postgresql_conf_path }}"
        - "{{ postgresql_hba_path }}"
      when: postgresql_version_dirs.files | length > 0

    - name: Configure PostgreSQL listen_addresses
      ansible.builtin.lineinfile:
        path: "{{ postgresql_conf_path }}"
        regexp: "^#?listen_addresses\\s*="
        line: "listen_addresses = '{{ postgresql_listen_addresses }}'"
        backup: true
        state: present
      when: postgresql_version_dirs.files | length > 0
      notify: Restart PostgreSQL service
      tags:
        - postgresql
        - postgresql-config

    - name: Configure pg_hba.conf from template
      ansible.builtin.template:
        src: pg_hba.conf.j2
        dest: "{{ postgresql_hba_path }}"
        mode: '0640'
        owner: postgres
        group: postgres
        backup: true
      when: postgresql_version_dirs.files | length > 0
      notify: Reload PostgreSQL service
      tags:
        - postgresql
        - postgresql-config

    - name: Create PostgreSQL user
      community.postgresql.postgresql_user:
        name: "{{ postgresql_user }}"
        password: "{{ postgresql_password }}"
        state: present
        login_user: postgres
        login_unix_socket: /var/run/postgresql
      become: true
      become_user: postgres
      when: postgresql_create_user | bool

    - name: Create PostgreSQL database
      community.postgresql.postgresql_db:
        name: "{{ postgresql_database }}"
        owner: "{{ postgresql_user }}"
        state: present
        login_user: postgres
        login_unix_socket: /var/run/postgresql
      become: true
      become_user: postgres
      when: postgresql_create_db | bool
