name: Prover Deployment
on:
  push:
    branches: [main]
  schedule:
    - cron: "0 1 * * *" # Nightly at 1am UTC
  workflow_dispatch:
    inputs:
      target:
        description: "Deployment target"
        required: true
        type: choice
        options: [staging, nightly, release, all]
        default: "nightly"

jobs:
  staging:
    name: Deploy staging
    if: |
      github.event_name == 'push' ||
      github.event.inputs.target == 'staging' ||
      github.event.inputs.target == 'all'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: ./.github/actions/deploy-prover
        with:
          target: "staging:&prover"
          ssh_key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}
          inventory: ${{ secrets.ANSIBLE_INVENTORY }}

  nightly:
    name: Deploy nightly
    if: |
      github.event_name == 'schedule' ||
      github.event.inputs.target == 'nightly' ||
      github.event.inputs.target == 'all'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: ./.github/actions/deploy-prover
        with:
          target: "production:&nightly:&prover"
          ssh_key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}
          inventory: ${{ secrets.ANSIBLE_INVENTORY }}

  release:
    name: Deploy release
    if: github.event.inputs.target == 'release' || github.event.inputs.target == 'all'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy-prover
        with:
          target: "production:&prover:&release"
          ssh_key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}
          inventory: ${{ secrets.ANSIBLE_INVENTORY }}
